/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3rem;
}
p {
  margin: 0;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 30px;
}
header {
  width: 100%;
  padding: 50px 0;
  background-image: url('../img/search-background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header h1 {
  font-size: 6.5rem;
  line-height: 45px;
  background-color: #fff;
  padding: 15px;
  color: #000;
  margin-bottom: 45px;
  -ms-transform: skewX(10deg) rotate(-5deg);
  -webkit-transform: skewX(10deg) rotate(-5deg);
  -o-transform: skewX(10deg) rotate(-5deg);
  transform: skewX(10deg) rotate(-5deg);
}
header h1:first-of-type {
  margin-bottom: 0;
  -ms-transform: skewX(10deg) rotate(0deg);
  -webkit-transform: skewX(10deg) rotate(0deg);
  -o-transform: skewX(10deg) rotate(0deg);
  transform: skewX(10deg) rotate(0deg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
}
input,
input:focus {
  border: none;
  outline: none;
}
#top {
  height: 1px;
  background: #000;
  color: #000;
}
.begin {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.begin i {
  z-index: 1;
  background: linear-gradient(to bottom right, #5c51ff, #aa4fff);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5rem;
  color: transparent;
}
i.search-btn {
  background: #0472c2;
  border-right: 2px solid #cacaca;
  height: 100%;
  width: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
i.search-btn:active {
  background-image: linear-gradient(to bottom right, #ae99d8, #c4b1f7, #011b73);
  color: #3e3e3e;
}
i.search-btn:before {
  font-size: 2.3rem;
  color: #fff;
}
.search-cont {
  width: 600px;
  border: 2px solid #cacaca;
}
.search-bar {
  z-index: 1;
  background-color: #fff;
  height: 45px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.search-bar input {
  height: 100%;
  width: 100%;
  font-style: italic;
  font-size: 2.3rem;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  margin-left: 10px;
}
.results {
  padding: 50px 15%;
  max-width: 100%;
  background-image: url('../img/cork-board.jpg');
  background-repeat: repeat;
}
.events {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.resStuff {
  height: fit-content;
  border-bottom: 7px solid #656565;
  background: #f7f7f7;
  margin-bottom: 30px;
}
.resStuff img:hover {
  opacity: 0.7;
  filter: opacity(0.7);
}
.result {
  width: 310px;
  padding: 0 12px 2px 12px;
  -ms-transform: inherit;
  -webkit-transform: inherit;
  -o-transform: inherit;
  transform: skewY(-2deg);
}
.result img {
  width: 100%;
  height: auto;
  border: 5px solid #f7f7f7;
}
.result-cont {
  box-shadow: 1px 1px 5px #000;
}
.resDetails {
  padding: 0 28px 10px 28px;
}
.resDetails h3 {
  color: #000;
  font-size: 2.5rem;
  font-family: 'Roboto', 'Tahoma', sans-serif;
}
.ticket-price {
  color: #000;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
  line-height: 26px;
}
.resLoc {
  text-align: right;
  font-size: 1.8rem;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  margin-bottom: 25px;
}
.resFoot {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}
.resAvail {
  width: 107px;
  height: 100%;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to bottom right, #8400e1, #bf00cb);
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 1px 10px #df6aff;
  -ms-transform: skewX(-10deg) rotate(0deg);
  -webkit-transform: skewX(-10deg) rotate(0deg);
  -o-transform: skewX(-10deg) rotate(0deg);
  transform: skewX(-10deg) rotate(0deg);
}
.resAvail.inactive {
  display: none;
}
.start {
  font-size: 1.8rem;
  font-weight: 100;
}
.eDate {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
.genres {
  height: fit-content;
  background-color: #ececec;
  padding: 50px 10%;
}
.genres h2 {
  text-align: center;
  line-height: 35px;
}
.genList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.genList p {
  cursor: pointer;
  font-size: 2.2rem;
  padding: 5px 30px;
  margin: 10px 5px;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
}
#tagline {
  padding: 30px 15%;
  text-align: center;
  background: #000;
  color: #fff;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-style: italic;
  font-size: 24px;
}
#tagline p {
  color: #fff;
  font-size: 2rem;
}
#theBoard {
  width: 100%;
  max-width: 600px;
  height: 100px;
  text-align: center;
  background-image: url('../img/torn-paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.subhead {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}
footer {
  display: flex;
  width: 100%;
  padding: 35px 10%;
}
.f-about::first-letter {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
.new {
  width: 0;
}
